.formTable{
  padding-left: 5px;
  padding-right:5px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.formButton{
  width:100%
}
.dashboard{
  width:100%;
}

.formInput{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 15px 150px rgba(0, 0, 0, 0.1);
  gap:10px;
  padding-top:10px;
}
.tableContainer{
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc; 
  border-radius: 8px;
  margin:10px;

}

.graphs {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.graph {
  flex: 1;
  padding: 1rem;
  background-color: #f4a261; 
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.graph-food {
  background-color: #f4a261;
}

.graph-day {
  background-color: #2a9d8f;
}

.graph-type {
  background-color: #e76f51;
}

.graph h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

