.formTable{
  padding-left: 5px;
  padding-right:5px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.formButton{
  width:100%
}

.formInput{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 15px 150px rgba(0, 0, 0, 0.1);
  gap:10px;
  padding-top:10px;
}
.tableContainer{
  max-height: 300px; /* adjust as needed */
  overflow-y: auto;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc; /* optional, for visual separation */
  border-radius: 8px;
  margin:10px;

}